{% include "lab4_navbar.html" %}
<!DOCTYPE html>
<html lang="en">
  <body>
      <div class="card-deck">
        {% for note in notes %}
        <div class="card bg-light mb-3" style="max-width: 18rem;">
          <div class="card-header">To: {{ note.receiver }}</div>
          <div class="card-header">From: {{ note.sender }}</div>
          <div class="card-body">
            <h5 class="card-title">{{ note.title }}</h5>
            <p class="card-text">{{ note.message }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
  </body>
</html>
