{% include "lab4_navbar.html" %}
  <body>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">To</th>
          <th scope="col">From</th>
          <th scope="col">Title</th>
          <th scope="col">Message<th>
        </tr>
      </thead>
      <tbody>
      {% for note in notes %}
        <tr>
          <td><p style="color: black;">{{ note.receiver }}</p></td>
          <td><p style="color: black;">{{ note.sender }}</p></td>
          <td><p style="color: black;">{{ note.title }}</p></td>
          <td><p style="color: black;">{{ note.message }}</p></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </body>