{% include "lab4_navbar.html" %}
{% load static %}
<!DOCTYPE html>
<link rel="stylesheet" type="text/css" href="{% static 'lab_4/css/bootstrap.css' %}"/>
<html lang="en">
  <body>
    <h1>New Note</h1>
    <form action="" method="post">{% csrf_token %}
      <div class="form-group">
        <label>To</label>
        {{ notes.receiver }}
      </div>
      <div class="form-group">
        <label>From</label>
        {{ notes.sender }}
      </div>
      <div class="form-group">
        <label>Title</label>
        {{ notes.title }}
      </div>
      <div class="form-group">
        <label>Message</label>
        {{ notes.message }}
      </div>
      <input type="submit" value="Save" class="btn btn-primary">
    </form>
  </body>
</html>