<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Add Friend</title>
  </head>
  <body>
    <h1>New Friend</h1>
    <form action="" method="post">{% csrf_token %}
      {{ friends.as_p }}
      <input type="submit" value="Save">
    </form>
  </body>
</html>