<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Message Board</title>
  </head>
  <body>
    <table>
      <tr>
        <th>To</th>
        <th>From</th>
        <th>Title</th>
        <th>Message<th>
      </tr>
      {% for note in notes %}
        <tr>
          <td><p style="color: black;">{{ note.receiver }}</p></td>
          <td><p style="color: black;">{{ note.sender }}</p></td>
          <td><p style="color: black;">{{ note.title }}</p></td>
          <td><p style="color: black;">{{ note.message }}</p></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
