<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Friend List</title>
  </head>
  <body>
    <table>
      <tr>
        <th>Name</th>
        <th>NPM</th>
        <th>DOB</th>
      </tr>
      {% for friend in friends %}
        <tr>
          <td><p style="color: black;">{{ friend.name }}</p></td>
          <td><p style="color: black;">{{ friend.npm }}</p></td>
          <td><p style="color: black;">{{ friend.birth_date }}</p></td>
        </tr>
      {% endfor %}
    </table>
  </body>
</html>
